In [1]:
import datetime as dt
d1 = dt.datetime(2019, 2, 25, 10, 50, tzinfo=dt.timezone.utc)
d2 = dt.datetime(2019, 2, 26, 11, 20, tzinfo=dt.timezone.utc)

In [2]:
d2 - d1

datetime.timedelta(days=1, seconds=1800)

In [3]:
td = d2 - d1
td.total_seconds()

88200.0

In [4]:
d1 = dt.datetime.now(dt.timezone.utc)
d1.isoformat()

'2020-04-17T18:22:08.538662+00:00'